/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}
header{
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}
#header{
  margin-left: 200px;
}
header nav ul{
  display: flex;
  float: right;
  margin-right: 200px;

}
header nav ul li{
  margin-left: 50px;
  list-style-type: none;

}
}
header nav ul li a{
  color: black;
}

body{
}
nav + div{
  background-color: red;
  width: 120px;
  height:50px;
  padding-top: 10px;
}
nav + div a{
  background-color: red;
  color:white;
}
header section{
  margin-top: 300px;
}
header section h1:before{
  display: block;
  content: "";
  background-color: red;
  width: 50px;
  height:3px;
}
header section + div a{
  background-color: red;
  color:white;
}
header section + div{
  background-color: red;
  width: 120px;
  height:50px;
  padding-top: 10px;
}
